DATABASE_URL=postgres://user:pass@localhost:5432/linkcnysh
PAYLOAD_SECRET=change-me
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_FRONTEND_HOST=link.cny.sh
NEXT_PUBLIC_REDIRECT_HOST=l.cny.sh
